
h1, h2, h3, h4, h5 {

  color: #1F1F1F;
}


h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: inherit;
}




p {
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  color: #727272;
  margin-bottom: 13px;

}



.boxed-btn {
  background: #fff;
  color: #000;
  display: inline-block;
  padding: 18px 44px;
 
  font-size: 14px;
  font-weight: 400;
  border: 0;
  border: 1px solid #000;
  letter-spacing: 3px;
  text-align: center;
  color: #000 !important;
  text-transform: uppercase;
}


.boxed-btn:hover {
  background: #000;
  color: #fff !important;
  border: 1px solid #000;
}


footer .inner {
    margin: auto;
    width: 88%;
    max-width: 1024px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}

footer {
    position: relative;
    z-index: 5;
    height: 190px;
    text-align: center;
    background-color: #060606;
    color: #ffffff;
    font-size: 0.78rem;
    

}

footer a
{
color: white;
}

/* line 10, ../../Arafath/CL/CL september/212. Wedding/HTML/scss/_blog.scss */
.blog_area a {
  color: #666666 !important;
  text-decoration: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

/* line 14, ../../Arafath/CL/CL september/212. Wedding/HTML/scss/_blog.scss */
.blog_area a:hover, .blog_area a :hover {
  background: -webkit-linear-gradient(131deg, #000 0%, #000 99%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-decoration: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}






.blog_details {
  padding: 30px 0 20px 10px;
  box-shadow: 0px 10px 20px 0px rgba(221, 221, 221, 0.3);
}

@media (min-width: 768px) {

  .blog_details {
    padding: 60px 30px 35px 35px;
  }
}


.blog_details p {
  margin-bottom: 30px;
}


.blog_details a {
  color: #ff8b23;
}


.blog_details a:hover {
  color: #000;
}


.blog_details h2 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 8px;
}

@media (min-width: 768px) {

  .blog_details h2 {
    font-size: 24px;
    margin-bottom: 15px;
  }
}


.blog_item_img {
  position: relative;
}


.blog_item_img .blog_item_date {
  position: absolute;
  bottom: -10px;
  left: 10px;
  display: block;
  color: #fff;
  background-color: #000;
  padding: 8px 15px;
  border-radius: 5px;
}

@media (min-width: 768px) {

  .blog_item_img .blog_item_date {
    bottom: -20px;
    left: 40px;
    padding: 13px 30px;
  }
}

.blog_item_img .blog_item_date h3 {
  font-size: 22px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 0;
  line-height: 1.2;
}

@media (min-width: 768px) {

  .blog_item_img .blog_item_date h3 {
    font-size: 30px;
  }
}


.blog_item_img .blog_item_date p {
  font-size: 18px;
  margin-bottom: 0;
  color: #fff;
}

@media (min-width: 768px) {

  .blog_item_img .blog_item_date p {
    font-size: 18px;
  }
}



