
* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    background-color: -internal-root-color;
}
/* ************** HEADER ******************* */

#myHeader
{
  display: inline; 
  position: sticky;
  top: 0;
  width: 100%;
}

nav
{
  background-color:rgba(255,255,255,0.95);
  position: sticky;
  top: 0;
  height: 190px;

}

nav ul 
{
  list-style: none;
  width: 100%;
  height: 20%;
  text-align: right;
  float: right;
  padding-right: 10%;
  padding-top: 7.2%;
 

}
nav li 
{
    display:inline-block;
    margin: -2px;
  
}
li a
{
  list-style: none;
  text-decoration: none;
  font-style:  italic;
  font-size: 30px;
  color: black;
  border-color: black;
  padding: 8px 16px;
  margin: 0px;


  
}
li a:hover:not(.active) {
  
  background-color: grey;
  color: white;
}

.active 
{
  
  background-color: black;
  color: white;
}

#logo
{
  
  
  float: left;
  padding-left: 20%;
  
  
}
/* ************** HEADER ******************* */


/* ************** BODY ******************* */




#me
{

  display: block;
  width: 49%;
  height: 50%;
  margin: 0 auto;
  margin-right: auto;
  margin-top: -0.2%;
}
 .mainsection {
        box-sizing: border-box;
        padding-right: 4.5%;
        padding-left: 4.5%;
        height: 500px;
        width: 100%;


    }
    

.div1{
  float: right;
  width: 45%; 





}
#div1 h2
{

text-align: center;
margin: 0 auto;
font-size: 20px;
padding-bottom: 3px;
margin-top: -10px;

}
#div1 p{
  padding-bottom: 2%;
text-align: center;
margin: 0 auto;
padding-top: -4px;
font-size: 16px;


}


.inputbox {
        position: relative;
      
       box-sizing: border-box;
      
        margin-left: 44px;
    }

    .info {
      width: 50%;
      float:left;
    }

    .test{
      width: 90%;
      height: 100%;
      margin: 0 auto;


    }
    .inputbox input {
        font-family: italic;
        color: black;
		
        width: 75%;
        
        margin-top: 3px;
        font-size: 20px;
        margin-bottom: 25px;
        border: none;
        border-bottom: 1px solid #7a7a52;
       
        
       
    }

   .inputboxx{
      margin-bottom: 10px;

    }
    .inputbox label {
        top: -10px;
        left: 0;
       	margin-right: 200px;
        color: black;
        font-family: italic;
        margin-top: 10px;
        font-size: 100%;
        pointer-events: none;
        transition: .5s;
        position: absolute;
        font-size: 19px;
       
    }
    
    .inputbox input:focus~label,
    .inputbox input:valid~label {
        top: -27px;
        left: 0;
        color: rgba(50,133,156);
        font-size: -8;
    }


    
    .infoo .button {
        background-color: black;
        color: white;
		font-size: 20px;
        border-radius: 200px;
        text-align: center;
       width: 130px;
        height: 40px;
        margin-left: 13%;
        margin-top: 0%;
        margin-bottom: 0.5%;
        border: none;

    }

div
{
    display: block;
}




.grid-container {
  display: grid;
  grid-template-columns: 32.99% 32.99% 32.99%;
  width: 100%;

  grid-gap: 20px;
  
 
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0px;
  font-size: 30px;

}

.cell
{
	width: 100%;
	height: 100%;
}

@media (max-width: 450px) 
{
  main{

  }
}

/* ************** BODY ******************* */

/* ************** FOOTER ******************* */
footer .inner {
    margin: auto;
    width: 88%;
    max-width: 1024px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  @media (max-width: 700px)
{
footer .inner {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
    flex-wrap: wrap;
}
}
footer {
    position: relative;
    z-index: 5;
    height: 190px;
    text-align: center;
    background-color: #060606;
    color: #ffffff;
    font-size: 0.78rem;
   
}

footer a
{
color: white;
}


/* ************** FOOTER ******************* */